<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schoolproject.traveltour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NewPackageTourActivity" />
        <activity android:name=".activity.WishlistActivity" />
        <activity android:name=".activity.InvoiceActivity" />
        <activity android:name=".activity.BookingActivity" />
        <activity android:name=".activity.SightseeingTourActivity" />
        <activity android:name=".activity.OptionalTourActivity" />
        <activity android:name=".activity.PackageTourActivity" />
        <activity android:name=".activity.TourListActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>